# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code
.vscode/

# macOS
.DS_Store

# Environment variables
.env
*.env

# Caching/logs
*.log
*.sqlite3
*.db
*.json
cache/
tmp/

# Personal notes
notes.md